@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This web application was created by Arshia-HZ and MrSEKIRO as part of a university project. We want you to know that we take copyright and intellectual property rights seriously. Your use of this application is subject to these rights, and we appreciate your respect for them.</p>
<br>
<a href="https://github.com/Arshia-HZ/SysWatch">github Repo</a>